.slide-container {
    .slide-image {
        background-size: cover;
        height: 75vh;
        // background-repeat: no-repeat;
    }

    .indicators {
        justify-content: left !important;
        margin-top: 0 !important;
        position: absolute;

        div {
            width: 15px !important;
            height: 15px !important;
            position: relative;
            top: -30px;
            background-color: white !important;
        }

        .active {
            background: $orange !important;
        }
    }
}